<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuequ.cmoc.dao.ActivityHmSignMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.ActivityHmSign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="marine_id" property="marineId" jdbcType="INTEGER" />
    <result column="hm_id" property="hmId" jdbcType="INTEGER" />
    <result column="sign_date" property="signDate" jdbcType="VARCHAR" />
    <result column="is_effect" property="isEffect" jdbcType="INTEGER" />
    <result column="effect_date" property="effectDate" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="judge" property="judge" jdbcType="VARCHAR" />
    <result column="creater_user_id" property="createrUserId" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_user_id" property="updaterUserId" jdbcType="INTEGER" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, line_id, marine_id, hm_id, sign_date, is_effect, effect_date, score, 
    judge, creater_user_id, creater, create_time, updater_user_id, updater, update_time, 
    is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_activity_hm_sign
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <resultMap id="PageBaseResultMap" extends="BaseResultMap" type="com.xuequ.cmoc.view.ActivityHmSignView" >
  	<result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="activity_num" property="activityNum" jdbcType="VARCHAR" />
    <result column="marine_name" property="marineName" jdbcType="VARCHAR" />
    <result column="activity_type" property="activityType" jdbcType="VARCHAR" />
    <result column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="hm_name" property="hmName" jdbcType="VARCHAR" />
    <result column="hm_mobile" property="hmMobile" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectListByPage" resultMap="PageBaseResultMap">
  	SELECT s.id, s.activity_id, s.line_id, s.marine_id, s.hm_id, s.sign_date, s.is_effect, 
  	s.effect_date, s.score, s.judge, s.creater_user_id, s.creater, s.create_time, 
  	m.marine_name, m.line_id, m.line_name, 
  	i.activity_name, i.activity_num, i.activity_type, h.hm_name, h.hm_mobile
	FROM t_activity_hm_sign s
	INNER JOIN t_hollow_man_info h ON h.id = s.hm_id
	INNER JOIN t_activity_marines m ON s.marine_id = m.id
	INNER JOIN t_activity_info i ON i.id = m.activity_id
	where s.is_delete = 'N'
	<if test="params.activityId != null">
    	and s.activity_id = #{params.activityId,jdbcType=INTEGER}
    </if>
    <if test="params.activityType != null">
    	and i.activity_type = #{params.activityType,jdbcType=VARCHAR}
    </if>
    <if test="params.marineName != null">
    	and m.marine_name = #{params.marineName,jdbcType=VARCHAR}
    </if>
    <if test="params.activityName != null">
    	and i.activity_name like concat('%',#{params.activityName,jdbcType=VARCHAR},'%')
    </if>
    <if test="params.startDate != null">
    	and DATE_FORMAT(i.start_date,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
    </if>
    <if test="params.endDate != null">
    	and DATE_FORMAT(i.start_date,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
    </if>
    order by s.id desc
  </select>
  
  <select id="selectForSign" resultMap="PageBaseResultMap">
  	SELECT am.id marine_id, am.marine_name, am.activity_id, 
  	ai.activity_name, hm.id hm_id, hm.hm_name, hs.update_time
	FROM t_activity_hm_sign hs 
	INNER JOIN t_hollow_man_info hm ON hs.hm_id = hm.id 
	INNER JOIN t_activity_marines am ON am.activity_id = hs.activity_id
	INNER JOIN t_activity_info ai on ai.id = am.activity_id
	WHERE hs.is_delete = 'N' AND hs.is_effect = 1
	AND am.id = #{marineId,jdbcType=INTEGER}
	AND hm.openid = #{openid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectForMessage" resultMap="BaseResultMap">
  	SELECT hs.id, hs.activity_id, hs.marine_id, hs.hm_id, hm.hm_name
  	FROM t_activity_hm_sign hs
	INNER JOIN t_hollow_man_info hm ON hs.`id` = hs.`hm_id`
	INNER JOIN t_activity_info ai ON ai.`id` = hs.`activity_id`
	WHERE hs.`is_delete`='N' AND ai.`start_date` > DATE(NOW()) 
	AND hm.`openid` = #{openid,jdbcType=VARCHAR}
  </select>
  
  <update id="updateBindMarine" parameterType="com.xuequ.cmoc.model.ActivityHmSign">
  	update t_activity_hm_sign set 
  	marine_id = #{marineId,jdbcType=INTEGER},
  	updater = #{updater,jdbcType=VARCHAR},
  	update_time = #{updateTime,jdbcType=TIMESTAMP}
  	where hm_id = #{hmId,jdbcType=INTEGER}
  	and activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_activity_hm_sign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    insert into t_activity_hm_sign (id, activity_id, line_id, 
      marine_id, hm_id, sign_date, 
      is_effect, effect_date, score, 
      judge, creater_user_id, creater, 
      create_time, updater_user_id, updater, 
      update_time, is_delete)
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{lineId,jdbcType=INTEGER}, 
      #{marineId,jdbcType=INTEGER}, #{hmId,jdbcType=INTEGER}, #{signDate,jdbcType=VARCHAR}, 
      #{isEffect,jdbcType=INTEGER}, #{effectDate,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, 
      #{judge,jdbcType=VARCHAR}, #{createrUserId,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updaterUserId,jdbcType=INTEGER}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    insert into t_activity_hm_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="lineId != null" >
        line_id,
      </if>
      <if test="marineId != null" >
        marine_id,
      </if>
      <if test="hmId != null" >
        hm_id,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
      <if test="isEffect != null" >
        is_effect,
      </if>
      <if test="effectDate != null" >
        effect_date,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="judge != null" >
        judge,
      </if>
      <if test="createrUserId != null" >
        creater_user_id,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updaterUserId != null" >
        updater_user_id,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="lineId != null" >
        #{lineId,jdbcType=INTEGER},
      </if>
      <if test="marineId != null" >
        #{marineId,jdbcType=INTEGER},
      </if>
      <if test="hmId != null" >
        #{hmId,jdbcType=INTEGER},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="isEffect != null" >
        #{isEffect,jdbcType=INTEGER},
      </if>
      <if test="effectDate != null" >
        #{effectDate,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="judge != null" >
        #{judge,jdbcType=VARCHAR},
      </if>
      <if test="createrUserId != null" >
        #{createrUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterUserId != null" >
        #{updaterUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    update t_activity_hm_sign
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="lineId != null" >
        line_id = #{lineId,jdbcType=INTEGER},
      </if>
      <if test="marineId != null" >
        marine_id = #{marineId,jdbcType=INTEGER},
      </if>
      <if test="hmId != null" >
        hm_id = #{hmId,jdbcType=INTEGER},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="isEffect != null" >
        is_effect = #{isEffect,jdbcType=INTEGER},
      </if>
      <if test="effectDate != null" >
        effect_date = #{effectDate,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="judge != null" >
        judge = #{judge,jdbcType=VARCHAR},
      </if>
      <if test="createrUserId != null" >
        creater_user_id = #{createrUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterUserId != null" >
        updater_user_id = #{updaterUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    update t_activity_hm_sign
    set activity_id = #{activityId,jdbcType=INTEGER},
      line_id = #{lineId,jdbcType=INTEGER},
      marine_id = #{marineId,jdbcType=INTEGER},
      hm_id = #{hmId,jdbcType=INTEGER},
      sign_date = #{signDate,jdbcType=VARCHAR},
      is_effect = #{isEffect,jdbcType=INTEGER},
      effect_date = #{effectDate,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      judge = #{judge,jdbcType=VARCHAR},
      creater_user_id = #{createrUserId,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_user_id = #{updaterUserId,jdbcType=INTEGER},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>