<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuequ.cmoc.dao.ActivityHmSignMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.ActivityHmSign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="marine_id" property="marineId" jdbcType="INTEGER" />
    <result column="hm_id" property="hmId" jdbcType="INTEGER" />
    <result column="sign_date" property="signDate" jdbcType="VARCHAR" />
    <result column="is_effect" property="isEffect" jdbcType="INTEGER" />
    <result column="effect_date" property="effectDate" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="showed" property="showed" jdbcType="INTEGER" />
    <result column="judge" property="judge" jdbcType="VARCHAR" />
    <result column="creater_user_id" property="createrUserId" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_user_id" property="updaterUserId" jdbcType="INTEGER" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, line_id, marine_id, hm_id, sign_date, is_effect, effect_date, score, showed,
    judge, creater_user_id, creater, create_time, updater_user_id, updater, update_time, 
    is_delete,reason
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_activity_hm_sign
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectCountForSign" resultType="int">
  	select count(1) from t_activity_hm_sign
  	where is_delete = 'N' and activity_id = #{activityId,jdbcType=INTEGER}
  	and hm_id = #{hmId,jdbcType=INTEGER}
  </select>
  
  <resultMap id="PageBaseResultMap" extends="BaseResultMap" type="com.xuequ.cmoc.view.ActivityHmSignView" >
  	<result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="activity_num" property="activityNum" jdbcType="VARCHAR" />
    <result column="marine_name" property="marineName" jdbcType="VARCHAR" />
    <result column="activity_type" property="activityType" jdbcType="VARCHAR" />
    <result column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="hm_name" property="hmName" jdbcType="VARCHAR" />
    <result column="hm_mobile" property="hmMobile" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="activity_addr" property="activityAddr" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="schoole" property="schoole" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="take_num" property="takeNum" jdbcType="INTEGER" />
    <result column="id_card" property="idCard" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    
    <result column="showed" jdbcType="INTEGER" property="showed" />
    <result column="judge" jdbcType="VARCHAR" property="judge" />
  </resultMap>
  
  <select id="selectHmSignAuditoutByPage" resultMap="PageBaseResultMap">
  	SELECT hs.id, hs.hm_id, hm_name, hm_mobile, place, sex, grade, schoole,
    	id_card, level, h.score, IFNULL(take_num,0) take_num, hs.`is_effect`,
    	hs.`effect_date`, hs.`create_time` sign_date, ai.activity_type,
    	ai.`activity_name`,ai.start_date, ai.end_date, hs.`activity_id`,ai.`activity_num`, hs.reason
    	FROM t_activity_hm_sign hs
	INNER JOIN t_hollow_man_info h ON hs.`hm_id` = h.`id`
	INNER JOIN t_activity_info ai ON ai.`id` = hs.`activity_id`
	LEFT JOIN (
	  SELECT COUNT(1) take_num, hm_id FROM t_activity_hm_sign 
	  WHERE is_delete = 'N' AND is_effect=1 
	  GROUP BY hm_id
	)n ON n.hm_id = h.id
	where hs.is_delete = 'Y'
	<if test="params.activityId != null">
    	and hs.activity_id = #{params.activityId,jdbcType=INTEGER}
    </if>
    <if test="params.activityType != null">
    	and ai.activity_type = #{params.activityType,jdbcType=VARCHAR}
    </if>
    <if test="params.activityName != null">
    	and ai.activity_name like concat('%',#{params.activityName,jdbcType=VARCHAR},'%')
    </if>
    <if test="params.hmName != null">
    	and h.hm_name = #{params.hmName,jdbcType=VARCHAR}
    </if>
    <if test="params.hmMobile != null">
    	and h.hm_mobile = #{params.hmMobile,jdbcType=VARCHAR}
    </if>
    <if test="params.isEffect != null">
    	and hs.is_effect = #{params.isEffect,jdbcType=INTEGER}
    </if>
    <if test="params.startDate != null">
    	and DATE_FORMAT(ai.start_date,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
    </if>
    <if test="params.endDate != null">
    	and DATE_FORMAT(ai.start_date,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
    </if>
	ORDER BY hs.`create_time` desc
  </select>
  
  <select id="selectHmSignForAudit" resultMap="PageBaseResultMap">
  	SELECT hs.id, hs.hm_id, hm_name, hm_mobile, place, sex, grade, schoole,
    	id_card, level, h.score, IFNULL(take_num,0) take_num, hs.`is_effect`,
    	hs.`effect_date`, hs.`create_time` sign_date, ai.activity_type,
    	ai.`activity_name`,ai.start_date, ai.end_date, hs.`activity_id`,ai.`activity_num`
    	FROM t_activity_hm_sign hs
	INNER JOIN t_hollow_man_info h ON hs.`hm_id` = h.`id`
	INNER JOIN t_activity_info ai ON ai.`id` = hs.`activity_id`
	LEFT JOIN (
	  SELECT COUNT(1) take_num, hm_id FROM t_activity_hm_sign 
	  WHERE is_delete = 'N' AND is_effect=1 
	  GROUP BY hm_id
	)n ON n.hm_id = h.id
	where hs.is_delete = 'N'
	<if test="params.activityId != null">
    	and hs.activity_id = #{params.activityId,jdbcType=INTEGER}
    </if>
    <if test="params.activityType != null">
    	and ai.activity_type = #{params.activityType,jdbcType=VARCHAR}
    </if>
    <if test="params.activityName != null">
    	and ai.activity_name like concat('%',#{params.activityName,jdbcType=VARCHAR},'%')
    </if>
    <if test="params.hmName != null">
    	and h.hm_name = #{params.hmName,jdbcType=VARCHAR}
    </if>
    <if test="params.hmMobile != null">
    	and h.hm_mobile = #{params.hmMobile,jdbcType=VARCHAR}
    </if>
    <if test="params.isEffect != null">
    	and hs.is_effect = #{params.isEffect,jdbcType=INTEGER}
    </if>
    <if test="params.startDate != null">
    	and DATE_FORMAT(ai.start_date,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
    </if>
    <if test="params.endDate != null">
    	and DATE_FORMAT(ai.start_date,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
    </if>
	ORDER BY hs.is_effect, take_num DESC, hs.`create_time`
  </select>
  
  <select id="selectListByPage" resultMap="PageBaseResultMap">
  	SELECT s.id, s.activity_id, s.line_id, s.marine_id, s.hm_id, s.sign_date, s.is_effect, 
  	s.effect_date, s.score, s.judge, s.creater_user_id, s.creater, s.create_time, 
  	m.marine_name, m.line_id, m.line_name, s.showed, s.judge, i.start_date, i.end_date, 
  	i.activity_name, i.activity_num, i.activity_type, h.hm_name, h.hm_mobile
	FROM t_activity_hm_sign s
	INNER JOIN t_hollow_man_info h ON h.id = s.hm_id
	INNER JOIN t_activity_info i ON i.id = s.activity_id
	LEFT JOIN t_activity_marines m ON s.marine_id = m.id
	where s.is_delete = 'N' and s.is_effect = 1
	<if test="params.activityId != null">
    	and s.activity_id = #{params.activityId,jdbcType=INTEGER}
    </if>
    <if test="params.activityType != null">
    	and i.activity_type = #{params.activityType,jdbcType=VARCHAR}
    </if>
    <if test="params.marineName != null">
    	and m.marine_name = #{params.marineName,jdbcType=VARCHAR}
    </if>
    <if test="params.activityName != null">
    	and i.activity_name like concat('%',#{params.activityName,jdbcType=VARCHAR},'%')
    </if>
    <if test="params.startDate != null">
    	and DATE_FORMAT(i.start_date,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
    </if>
    <if test="params.endDate != null">
    	and DATE_FORMAT(i.start_date,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
    </if>
    order by m.id DESC,s.id DESC
  </select>
  
  <select id="selectWithTeamRecord" resultMap="PageBaseResultMap">
  	SELECT am.id, hm.`hm_name`, am.`marine_name`, ai.`activity_name`,ai.`activity_num`,ai.`start_date`  
    FROM t_activity_hm_sign hs
    INNER JOIN t_activity_marines am ON hs.`marine_id` = am.`id`
    INNER JOIN t_activity_info ai ON am.`activity_id` = ai.`id`
    INNER JOIN t_hollow_man_info hm ON hm.`id` = hs.`hm_id`
    WHERE hs.`is_effect` = 1 AND hs.`is_delete` = 'N'
    AND hm.`openid` = #{openid,jdbcType=VARCHAR}
    order by ai.`start_date` desc
  </select>
  
  <select id="selectForSign" resultMap="PageBaseResultMap">
  	SELECT am.id marine_id, am.marine_name, am.activity_id, 
  	ai.activity_name, hm.id hm_id, hm.hm_name, hs.update_time
	FROM t_activity_hm_sign hs 
	INNER JOIN t_hollow_man_info hm ON hs.hm_id = hm.id 
	INNER JOIN t_activity_marines am ON am.activity_id = hs.activity_id
	INNER JOIN t_activity_info ai on ai.id = am.activity_id
	WHERE hs.is_delete = 'N' AND hs.is_effect = 1
	AND am.id = #{marineId,jdbcType=INTEGER}
	AND hm.openid = #{openid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectForMessage" resultMap="PageBaseResultMap">
	SELECT hs.id, hs.activity_id, hs.marine_id, hs.hm_id, hm.hm_name, am.marine_name, ai.activity_name 
	FROM t_activity_hm_sign hs 
	INNER JOIN t_hollow_man_info hm ON hm.`id` = hs.`hm_id` 
	INNER JOIN t_activity_marines am ON am.`id` = hs.`marine_id`
	INNER JOIN t_activity_info ai ON ai.`id` = hs.`activity_id` 
	WHERE hs.`is_delete`='N' AND hs.is_effect = 1 AND 
	NOW() between ai.`start_date` and DATE_ADD(ai.`end_date`, INTERVAL 6 HOUR)
	AND hm.`openid` = #{openid,jdbcType=VARCHAR}
	ORDER BY ai.`start_date`
	limit 1
  </select>
  
  <select id="selectListByIds" resultMap="PageBaseResultMap">
  	SELECT hs.activity_id, ai.activity_name, ai.activity_num, ai.activity_addr,
  	ai.start_date, ai.end_date, hm.id hm_id, hm.hm_name, hm.hm_mobile, hm.openid,hs.reason
	FROM t_activity_hm_sign hs 
	INNER JOIN t_hollow_man_info hm ON hs.hm_id = hm.id 
	INNER JOIN t_activity_info ai ON ai.id = hs.activity_id
	where hs.id in 
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </select>
  
  <update id="updateBindMarine" parameterType="com.xuequ.cmoc.model.ActivityHmSign">
  	update t_activity_hm_sign set 
  	marine_id = #{marineId,jdbcType=INTEGER},
  	updater = #{updater,jdbcType=VARCHAR},
  	update_time = #{updateTime,jdbcType=TIMESTAMP}
  	where hm_id = #{hmId,jdbcType=INTEGER}
  	and activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  
  <update id="updateAuditEffectHmSign">
  	 update t_activity_hm_sign set is_effect = 1, effect_date = DATE_FORMAT(NOW(),'%Y%m%d')
  	 where id in
  	 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  	 	#{item}
  	 </foreach>
  </update>
  
  <update id="updateAuditDeleteHmSign">
  	 update t_activity_hm_sign set is_delete = 'Y', reason = #{reason,jdbcType=VARCHAR}
  	 where id in
  	 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  	 	#{item}
  	 </foreach>
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_activity_hm_sign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    insert into t_activity_hm_sign (id, activity_id, line_id, 
      marine_id, hm_id, sign_date, 
      is_effect, effect_date, score, 
      judge, creater_user_id, creater, 
      create_time, updater_user_id, updater, 
      update_time, is_delete, reason)
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{lineId,jdbcType=INTEGER}, 
      #{marineId,jdbcType=INTEGER}, #{hmId,jdbcType=INTEGER}, #{signDate,jdbcType=VARCHAR}, 
      #{isEffect,jdbcType=INTEGER}, #{effectDate,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, 
      #{judge,jdbcType=VARCHAR}, #{createrUserId,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updaterUserId,jdbcType=INTEGER}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    insert into t_activity_hm_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="lineId != null" >
        line_id,
      </if>
      <if test="marineId != null" >
        marine_id,
      </if>
      <if test="hmId != null" >
        hm_id,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
      <if test="isEffect != null" >
        is_effect,
      </if>
      <if test="effectDate != null" >
        effect_date,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="showed != null" >
        showed,
      </if>
      <if test="judge != null" >
        judge,
      </if>
      <if test="createrUserId != null" >
        creater_user_id,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updaterUserId != null" >
        updater_user_id,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="reason != null" >
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="lineId != null" >
        #{lineId,jdbcType=INTEGER},
      </if>
      <if test="marineId != null" >
        #{marineId,jdbcType=INTEGER},
      </if>
      <if test="hmId != null" >
        #{hmId,jdbcType=INTEGER},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="isEffect != null" >
        #{isEffect,jdbcType=INTEGER},
      </if>
      <if test="effectDate != null" >
        #{effectDate,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="showed != null" >
        #{showed,jdbcType=INTEGER},
      </if>
      <if test="judge != null" >
        #{judge,jdbcType=VARCHAR},
      </if>
      <if test="createrUserId != null" >
        #{createrUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterUserId != null" >
        #{updaterUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    update t_activity_hm_sign
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="lineId != null" >
        line_id = #{lineId,jdbcType=INTEGER},
      </if>
      <if test="marineId != null" >
        marine_id = #{marineId,jdbcType=INTEGER},
      </if>
      <if test="hmId != null" >
        hm_id = #{hmId,jdbcType=INTEGER},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="isEffect != null" >
        is_effect = #{isEffect,jdbcType=INTEGER},
      </if>
      <if test="effectDate != null" >
        effect_date = #{effectDate,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="showed != null" >
        showed = #{showed,jdbcType=INTEGER},
      </if>
      <if test="judge != null" >
        judge = #{judge,jdbcType=VARCHAR},
      </if>
      <if test="createrUserId != null" >
        creater_user_id = #{createrUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterUserId != null" >
        updater_user_id = #{updaterUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
      	reason = ${reason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.ActivityHmSign" >
    update t_activity_hm_sign
    set activity_id = #{activityId,jdbcType=INTEGER},
      line_id = #{lineId,jdbcType=INTEGER},
      marine_id = #{marineId,jdbcType=INTEGER},
      hm_id = #{hmId,jdbcType=INTEGER},
      sign_date = #{signDate,jdbcType=VARCHAR},
      is_effect = #{isEffect,jdbcType=INTEGER},
      effect_date = #{effectDate,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      showed = #{showed,jdbcType=INTEGER},
      judge = #{judge,jdbcType=VARCHAR},
      creater_user_id = #{createrUserId,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_user_id = #{updaterUserId,jdbcType=INTEGER},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      reason = ${reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>