<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuequ.cmoc.dao.ChildSignInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.ChildSignInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="child_idcard" property="childIdcard" jdbcType="VARCHAR" />
    <result column="child_name" property="childName" jdbcType="VARCHAR" />
    <result column="child_mobile" property="childMobile" jdbcType="VARCHAR" />
    <result column="child_age" property="childAge" jdbcType="INTEGER" />
    <result column="child_sex" property="childSex" jdbcType="VARCHAR" />
    <result column="is_disease" property="isDisease" jdbcType="VARCHAR" />
    <result column="disease_desc" property="diseaseDesc" jdbcType="VARCHAR" />
    <result column="child_height" property="childHeight" jdbcType="INTEGER" />
    <result column="child_weight" property="childWeight" jdbcType="INTEGER" />
    <result column="emer_name" property="emerName" jdbcType="VARCHAR" />
    <result column="emer_mobile" property="emerMobile" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="sign_relation" property="signRelation" jdbcType="VARCHAR" />
    <result column="sign_resource" property="signResource" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="family_no" property="familyNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_effect" property="isEffect" jdbcType="INTEGER" />
  	<result column="status" property="status" jdbcType="VARCHAR" />
  	<result column="is_phone_confirm" property="isPhoneConfirm" jdbcType="VARCHAR" />
  	<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, child_idcard, child_name, child_mobile, child_age, child_sex, is_disease, disease_desc, child_height, child_height,
    emer_name, emer_mobile, city, product_id, activity_id, sign_relation, sign_resource, parent_id, family_no, create_time,
    is_effect, status, order_no, is_phone_confirm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_child_sign_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据小孩姓名和紧急联系电话判断用户是否可以进行绑定 -->
  <select id="selectByChildNameMobile" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> 
	from t_child_sign_info
  	where is_effect = 1 and child_name = #{childName, jdbcType=VARCHAR}
  	and emer_mobile = #{emerMobile,jdbcType=VARCHAR}
  </select>
  
  <select id="selectNonStartingList" resultMap="BaseResultMap" parameterType="com.xuequ.cmoc.model.ChildSignInfo">
  	select 
    <include refid="Base_Column_List" />
    from t_child_sign_info
    where is_effect = 1 and status = '001'
    <if test="signResource != null">
    	and sign_resource = #{signResource,jdbcType=INTEGER}
    </if> 
    <if test="productId != null">
    	and product_id = #{productId,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="selectFamilyNo" resultType="String" parameterType="com.xuequ.cmoc.model.ChildSignInfo">
  	select family_no from t_child_sign_info
    where child_idcard = #{childIdcard,jdbcType=VARCHAR} or 
    emer_mobile = #{emerMobile,jdbcType=VARCHAR}
    limit 1
  </select>
  
  <resultMap id="SignBaseResultMap" extends="BaseResultMap" type="com.xuequ.cmoc.view.ChildSignView" >
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="res_amount" property="resAmount" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
  	<result column="course_type" property="courseType" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectCourseSignByPage" resultMap="SignBaseResultMap">
  	SELECT bi.id, bi.`emer_name`,bi.`emer_mobile`,bi.`child_idcard`,bi.`child_name`,bi.`child_age`, bi.`child_sex`,
	bi.`child_mobile`, bi.`sign_relation`, bi.`is_disease`,bi.`disease_desc`,bi.`city`,bi.`family_no`,
	bi.`status`, bi.`create_time`, bi.`order_no`, po.`product_type`,ci.`res_amount`,ci.`total_price`,
	bi.is_phone_confirm, po.product_id,ci.course_name,ci.`course_type`
	FROM t_child_sign_info bi 
	INNER JOIN t_parent_info pa ON pa.`id` = bi.`parent_id`
	INNER JOIN t_product_order po ON po.`order_no` = bi.`order_no`
	INNER JOIN t_course_info ci ON po.`product_id` = ci.`id`
	WHERE po.`product_type`='COURSE' AND po.`order_status` = '000' AND bi.`is_effect` = 1
	<if test="params.productId != null">
		and bi.product_id = #{params.productId,jdbcType=INTEGER}
	</if>
	<if test="params.childName != null">
		and bi.child_name = #{params.childName,jdbcType=VARCHAR}
	</if>
	<if test="params.emerName != null">
		and bi.emer_name = #{params.emerName,jdbcType=VARCHAR}
	</if>
	<if test="params.emerMobile != null">
		and bi.emer_mobile = #{params.emerMobile,jdbcType=VARCHAR}
	</if>
	<if test="params.orderNo != null">
		and po.order_no = #{params.orderNo,jdbcType=VARCHAR}
	</if>
	<if test="params.isPhoneConfirm != null">
		and bi.is_phone_confirm = #{params.isPhoneConfirm,jdbcType=VARCHAR}
	</if>
	<if test="params.status != null">
		and bi.status = #{params.status,jdbcType=VARCHAR}
	</if>
	<if test="params.parentId != null">
		and pa.id = #{params.parentId,jdbcType=INTEGER}
	</if>
	<if test="params.startDate != null">
		and DATE_FORMAT(bi.create_time,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
	</if>
	<if test="params.endDate != null">
		and DATE_FORMAT(bi.create_time,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
	</if>
	ORDER BY bi.`status`, bi.`create_time` 
  </select>
  
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xuequ.cmoc.model.ChildSignInfo" >
    insert into t_child_sign_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="childIdcard != null" >
        child_idcard,
      </if>
      <if test="childName != null" >
        child_name,
      </if>
      <if test="childMobile != null" >
        child_mobile,
      </if>
      <if test="childAge != null" >
        child_age,
      </if>
      <if test="childSex != null" >
        child_sex,
      </if>
      <if test="isDisease != null" >
        is_disease,
      </if>
      <if test="diseaseDesc != null" >
        disease_desc,
      </if>
      <if test="childHeight != null" >
        child_height,
      </if>
      <if test="childWeight != null" >
        child_weight,
      </if>
      <if test="emerName != null" >
        emer_name,
      </if>
      <if test="emerMobile != null" >
        emer_mobile,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="signRelation != null" >
        sign_relation,
      </if>
      <if test="signResource != null" >
        sign_resource,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="familyNo != null" >
        family_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isEffect != null" >
        is_effect,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="isPhoneConfirm != null" >
        is_phone_confirm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="childIdcard != null" >
        #{childIdcard,jdbcType=VARCHAR},
      </if>
      <if test="childName != null" >
        #{childName,jdbcType=VARCHAR},
      </if>
      <if test="childMobile != null" >
        #{childMobile,jdbcType=VARCHAR},
      </if>
      <if test="childAge != null" >
        #{childAge,jdbcType=INTEGER},
      </if>
      <if test="childSex != null" >
        #{childSex,jdbcType=VARCHAR},
      </if>
      <if test="isDisease != null" >
        #{isDisease,jdbcType=VARCHAR},
      </if>
      <if test="diseaseDesc != null" >
        #{diseaseDesc,jdbcType=VARCHAR},
      </if>
      <if test="childHeight != null" >
        #{childHeight,jdbcType=INTEGER},
      </if>
      <if test="childWeight != null" >
        #{childWeight,jdbcType=INTEGER},
      </if>
      <if test="emerName != null" >
        #{emerName,jdbcType=VARCHAR},
      </if>
      <if test="emerMobile != null" >
        #{emerMobile,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="signRelation != null" >
        #{signRelation,jdbcType=VARCHAR},
      </if>
      <if test="signResource != null" >
        #{signResource,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="familyNo != null" >
        #{familyNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffect != null" >
         #{isEffect,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="isPhoneConfirm != null" >
        #{isPhoneConfirm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.ChildSignInfo" >
    update t_child_sign_info
    <set >
      <if test="childIdcard != null" >
        child_idcard = #{childIdcard,jdbcType=VARCHAR},
      </if>
      <if test="childName != null" >
        child_name = #{childName,jdbcType=VARCHAR},
      </if>
      <if test="childMobile != null" >
        child_mobile = #{childMobile,jdbcType=VARCHAR},
      </if>
      <if test="childAge != null" >
        child_age = #{childAge,jdbcType=INTEGER},
      </if>
      <if test="childSex != null" >
        child_sex = #{childSex,jdbcType=VARCHAR},
      </if>
      <if test="isDisease != null" >
        is_disease = #{isDisease,jdbcType=VARCHAR},
      </if>
      <if test="diseaseDesc != null" >
        disease_desc = #{diseaseDesc,jdbcType=VARCHAR},
      </if>
      <if test="childHeight != null" >
        child_height = #{childHeight,jdbcType=INTEGER},
      </if>
      <if test="childWeight != null" >
        child_weight = #{childWeight,jdbcType=INTEGER},
      </if>
      <if test="emerName != null" >
        emer_name = #{emerName,jdbcType=VARCHAR},
      </if>
      <if test="emerMobile != null" >
        emer_mobile = #{emerMobile,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="signRelation != null" >
        sign_relation = #{signResource,jdbcType=VARCHAR},
      </if>
      <if test="signResource != null" >
        sign_resource = #{signResource,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="familyNo != null" >
        family_no = #{familyNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffect != null" >
        is_effect = #{isEffect,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="isPhoneConfirm != null" >
        is_phone_confirm = #{isPhoneConfirm,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.ChildSignInfo" >
    update t_child_sign_info
    set child_idcard = #{childIdcard,jdbcType=VARCHAR},
      child_name = #{childName,jdbcType=VARCHAR},
      child_mobile = #{childMobile,jdbcType=VARCHAR},
      child_age = #{childAge,jdbcType=INTEGER},
      child_sex = #{childSex,jdbcType=VARCHAR},
      is_disease = #{isDisease,jdbcType=VARCHAR},
      disease_desc = #{diseaseDesc,jdbcType=VARCHAR},
      child_height = #{childHeight,jdbcType=INTEGER},
      child_weight = #{childWeight,jdbcType=INTEGER},
      emer_name = #{emerName,jdbcType=VARCHAR},
      emer_mobile = #{emerMobile,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=INTEGER},
      sign_resource = #{signResource,jdbcType=VARCHAR},
      sign_relation = #{signRelation,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      family_no = #{familyNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_effect = #{isEffect,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>