<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paic.clearing.mapper.GoodsDetailMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.GoodsDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="goods_no" property="goodsNo" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="main_img" property="mainImg" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="discountPrice" property="discountprice" jdbcType="DECIMAL" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_name, stock, goods_no, color, main_img, price, discountPrice, points, creater, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_goods_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.GoodsDetail" >
    insert into t_goods_detail (id, goods_name, stock, 
      goods_no, color, main_img, 
      price, discountPrice, points, 
      creater, create_time)
    values (#{id,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, 
      #{goodsNo,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{mainImg,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{discountprice,jdbcType=DECIMAL}, #{points,jdbcType=INTEGER}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xuequ.cmoc.model.GoodsDetail" >
    insert into t_goods_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="goodsNo != null" >
        goods_no,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="mainImg != null" >
        main_img,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discountprice != null" >
        discountPrice,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="goodsNo != null" >
        #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="mainImg != null" >
        #{mainImg,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discountprice != null" >
        #{discountprice,jdbcType=DECIMAL},
      </if>
      <if test="points != null" >
        #{points,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.GoodsDetail" >
    update t_goods_detail
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="goodsNo != null" >
        goods_no = #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="mainImg != null" >
        main_img = #{mainImg,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discountprice != null" >
        discountPrice = #{discountprice,jdbcType=DECIMAL},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.GoodsDetail" >
    update t_goods_detail
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      goods_no = #{goodsNo,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      main_img = #{mainImg,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      discountPrice = #{discountprice,jdbcType=DECIMAL},
      points = #{points,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>