<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuequ.cmoc.dao.HollowManInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.HollowManInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hm_name" property="hmName" jdbcType="VARCHAR" />
    <result column="hm_mobile" property="hmMobile" jdbcType="VARCHAR" />
    <result column="hm_id_type" property="hmIdType" jdbcType="VARCHAR" />
    <result column="hm_id_card" property="hmIdCard" jdbcType="VARCHAR" />
    <result column="hm_addr" property="hmAddr" jdbcType="VARCHAR" />
    <result column="hm_schoole" property="hmSchoole" jdbcType="VARCHAR" />
    <result column="hm_kim_name" property="hmKimName" jdbcType="VARCHAR" />
    <result column="hm_kim_mobile" property="hmKimMobile" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="INTEGER" />
    <result column="active" property="active" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hm_name, hm_mobile, hm_id_type, hm_id_card, hm_addr, hm_schoole, hm_kim_name, 
    hm_kim_mobile, is_active, active, openid, level, score, creater, create_time, updater, 
    update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_hollow_man_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByNameMobile" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from t_hollow_man_info
    where is_delete = 'N' and hm_name = #{hmName,jdbcType=VARCHAR}
    and hm_mobile = #{hmMobile,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_hollow_man_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.HollowManInfo" >
    insert into t_hollow_man_info (id, hm_name, hm_mobile, 
      hm_id_type, hm_id_card, hm_addr, 
      hm_schoole, hm_kim_name, hm_kim_mobile, 
      is_active, active, openid, 
      level, score, creater, 
      create_time, updater, update_time, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{hmName,jdbcType=VARCHAR}, #{hmMobile,jdbcType=VARCHAR}, 
      #{hmIdType,jdbcType=VARCHAR}, #{hmIdCard,jdbcType=VARCHAR}, #{hmAddr,jdbcType=VARCHAR}, 
      #{hmSchoole,jdbcType=VARCHAR}, #{hmKimName,jdbcType=VARCHAR}, #{hmKimMobile,jdbcType=VARCHAR}, 
      #{isActive,jdbcType=INTEGER}, #{active,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xuequ.cmoc.model.HollowManInfo" >
    insert into t_hollow_man_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hmName != null" >
        hm_name,
      </if>
      <if test="hmMobile != null" >
        hm_mobile,
      </if>
      <if test="hmIdType != null" >
        hm_id_type,
      </if>
      <if test="hmIdCard != null" >
        hm_id_card,
      </if>
      <if test="hmAddr != null" >
        hm_addr,
      </if>
      <if test="hmSchoole != null" >
        hm_schoole,
      </if>
      <if test="hmKimName != null" >
        hm_kim_name,
      </if>
      <if test="hmKimMobile != null" >
        hm_kim_mobile,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hmName != null" >
        #{hmName,jdbcType=VARCHAR},
      </if>
      <if test="hmMobile != null" >
        #{hmMobile,jdbcType=VARCHAR},
      </if>
      <if test="hmIdType != null" >
        #{hmIdType,jdbcType=VARCHAR},
      </if>
      <if test="hmIdCard != null" >
        #{hmIdCard,jdbcType=VARCHAR},
      </if>
      <if test="hmAddr != null" >
        #{hmAddr,jdbcType=VARCHAR},
      </if>
      <if test="hmSchoole != null" >
        #{hmSchoole,jdbcType=VARCHAR},
      </if>
      <if test="hmKimName != null" >
        #{hmKimName,jdbcType=VARCHAR},
      </if>
      <if test="hmKimMobile != null" >
        #{hmKimMobile,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        #{active,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.HollowManInfo" >
    update t_hollow_man_info
    <set >
      <if test="hmName != null" >
        hm_name = #{hmName,jdbcType=VARCHAR},
      </if>
      <if test="hmMobile != null" >
        hm_mobile = #{hmMobile,jdbcType=VARCHAR},
      </if>
      <if test="hmIdType != null" >
        hm_id_type = #{hmIdType,jdbcType=VARCHAR},
      </if>
      <if test="hmIdCard != null" >
        hm_id_card = #{hmIdCard,jdbcType=VARCHAR},
      </if>
      <if test="hmAddr != null" >
        hm_addr = #{hmAddr,jdbcType=VARCHAR},
      </if>
      <if test="hmSchoole != null" >
        hm_schoole = #{hmSchoole,jdbcType=VARCHAR},
      </if>
      <if test="hmKimName != null" >
        hm_kim_name = #{hmKimName,jdbcType=VARCHAR},
      </if>
      <if test="hmKimMobile != null" >
        hm_kim_mobile = #{hmKimMobile,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.HollowManInfo" >
    update t_hollow_man_info
    set hm_name = #{hmName,jdbcType=VARCHAR},
      hm_mobile = #{hmMobile,jdbcType=VARCHAR},
      hm_id_type = #{hmIdType,jdbcType=VARCHAR},
      hm_id_card = #{hmIdCard,jdbcType=VARCHAR},
      hm_addr = #{hmAddr,jdbcType=VARCHAR},
      hm_schoole = #{hmSchoole,jdbcType=VARCHAR},
      hm_kim_name = #{hmKimName,jdbcType=VARCHAR},
      hm_kim_mobile = #{hmKimMobile,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=INTEGER},
      active = #{active,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>