<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuequ.cmoc.dao.HollowManInfoMapper">
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.HollowManInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hm_name" jdbcType="VARCHAR" property="hmName" />
    <result column="hm_mobile" jdbcType="VARCHAR" property="hmMobile" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="schoole" jdbcType="VARCHAR" property="schoole" />
    <result column="id_photo" jdbcType="VARCHAR" property="idPhoto" />
    <result column="kim_name" jdbcType="VARCHAR" property="kimName" />
    <result column="kim_mobile" jdbcType="VARCHAR" property="kimMobile" />
    <result column="is_active" jdbcType="INTEGER" property="isActive" />
    <result column="active_date" jdbcType="VARCHAR" property="activeDate" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hm_name, hm_mobile, id_type, id_card, addr, place, sex, grade, schoole, id_photo, 
    kim_name, kim_mobile, is_active, active_date, openid, level, score, creater, create_time, 
    updater, update_time, is_delete, reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_hollow_man_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectRegAuditOutByPage" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from t_hollow_man_info
    where is_delete = 'Y'
    <if test="params.hmName != null">
		and hm_name = #{params.hmName,jdbcType=VARCHAR}
	</if>
	<if test="params.hmMobile != null">
		and hm_mobile = #{params.hmMobile,jdbcType=VARCHAR}
	</if>
	<if test="params.idCard != null">
		and id_card = #{params.idCard,jdbcType=VARCHAR}
	</if>
	<if test="params.sex != null">
		and sex = #{params.sex,jdbcType=VARCHAR}
	</if>
    order by create_time desc
  </select>
  <select id="selectListByIds" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from t_hollow_man_info
    where id in 
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </select>
  <select id="selectByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from t_hollow_man_info
    where is_delete = 'N' and openid = #{openid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectCountByOpenid" resultType="int">
  	select count(1) from t_hollow_man_info
    where is_delete = 'N' and openid = #{openid,jdbcType=VARCHAR}
  </select>
  
  <update id="updateAuditActiveHm">
  	 update t_hollow_man_info set is_active = 1
  	 where id in
  	 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  	 	#{item}
  	 </foreach>
  </update>
  
  <update id="updateAuditDeleteHm">
  	 update t_hollow_man_info set is_delete = 'Y', reason = #{reason,jdbcType=VARCHAR}
  	 where id in
  	 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  	 	#{item}
  	 </foreach>
  </update>
  
  <select id="selectByNameMobile" resultMap="BaseResultMap" >
  	SELECT 
    <include refid="Base_Column_List" />
    FROM t_hollow_man_info
    WHERE is_delete = 'N' AND hm_name = #{hmName,jdbcType=VARCHAR}
    AND hm_mobile = #{hmMobile,jdbcType=VARCHAR}
  </select>
  
  <resultMap id="PageBaseResultMap" extends="BaseResultMap" type="com.xuequ.cmoc.view.HollowManInfoView">
  	<result column="take_num" jdbcType="INTEGER" property="takeNum" />
  </resultMap>
  
  <select id="selectByPage" resultMap="PageBaseResultMap">
  	SELECT id, hm_name, hm_mobile, id_type, id_card, addr, place, sex, grade, schoole, id_photo, 
    	kim_name, kim_mobile, is_active, active_date, openid, level, score, creater, create_time,
    IFNULL(take_num,0) take_num FROM t_hollow_man_info h
	LEFT JOIN (
	  SELECT COUNT(1) take_num, hm_id FROM t_activity_hm_sign 
	  WHERE is_delete = 'N' AND is_effect=1 
	  GROUP BY hm_id
	)n ON n.hm_id = h.id
	where h.is_delete = 'N'
	<if test="params.hmName != null">
		and hm_name = #{params.hmName,jdbcType=VARCHAR}
	</if>
	<if test="params.hmMobile != null">
		and hm_mobile = #{params.hmMobile,jdbcType=VARCHAR}
	</if>
	<if test="params.idCard != null">
		and id_card = #{params.idCard,jdbcType=VARCHAR}
	</if>
	<if test="params.sex != null">
		and sex = #{params.sex,jdbcType=VARCHAR}
	</if>
	<if test="params.isActive != null">
		and is_active = #{params.isActive,jdbcType=INTEGER}
	</if>
	ORDER BY take_num DESC, create_time
  </select>
  
  <resultMap id="TakeBaseResult" type="com.xuequ.cmoc.view.HollowManTakeView">
    <result column="hm_id" jdbcType="INTEGER" property="hmId" />
    <result column="hm_name" jdbcType="VARCHAR" property="hmName" />
    <result column="hm_mobile" jdbcType="VARCHAR" property="hmMobile" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_num" jdbcType="VARCHAR" property="activityNum" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="activity_type" jdbcType="VARCHAR" property="activityType" />
    <result column="image_num" jdbcType="INTEGER" property="imageNum" />
    <result column="video_num" jdbcType="INTEGER" property="videoNum" />
    <result column="showed" jdbcType="INTEGER" property="showed" />
    <result column="judge" jdbcType="VARCHAR" property="judge" />
  </resultMap>
  <select id="selectHmTakeListByHmId" resultMap="TakeBaseResult">
  	 SELECT hs.`hm_id`, hm.hm_name, hm.hm_mobile,ai.`activity_name`,ai.`activity_num`,ai.`start_date`,
		ai.`activity_type`, ai.id activity_id, nu.image_num, nu2.video_num, hs.showed, hs.judge
	 FROM t_activity_hm_sign hs
	 INNER JOIN t_activity_info ai ON hs.`activity_id` = ai.`id`
	 INNER JOIN t_hollow_man_info hm ON hs.`hm_id` = hm.id
	 LEFT JOIN (
	   SELECT COUNT(1) image_num, hm_sign_id FROM t_wechat_receive_message
	   WHERE is_delete = 'N' AND msg_type = 'image'
	   GROUP BY hm_Sign_Id
	 ) nu ON nu.hm_sign_id = hs.`id`
	 LEFT JOIN (
	   SELECT COUNT(1) video_num, hm_sign_id FROM t_wechat_receive_message
	   WHERE is_delete = 'N' AND msg_Type = 'shortvideo'
	   GROUP BY hm_Sign_Id
	 ) nu2 ON nu2.hm_sign_id = hs.`id`
	 WHERE hs.is_effect = 1 and hs.hm_id = #{hmId,jdbcType=INTEGER}
  </select>
  
  <select id="selectHmTakeListByPage" resultMap="TakeBaseResult">
  	SELECT hs.`hm_id`, hm.hm_name, hm.hm_mobile,ai.`activity_name`,ai.`activity_num`,ai.`start_date`,
		ai.`activity_type`, ai.id activity_id, nu.image_num, nu2.video_num
	 FROM t_activity_hm_sign hs
	 INNER JOIN t_activity_info ai ON hs.`activity_id` = ai.`id`
	 INNER JOIN t_hollow_man_info hm ON hs.`hm_id` = hm.id
	 LEFT JOIN (
	   SELECT COUNT(1) image_num, hm_sign_id FROM t_wechat_receive_message
	   WHERE is_delete = 'N' AND msg_type = 'image'
	   GROUP BY hm_Sign_Id
	 ) nu ON nu.hm_sign_id = hs.`id`
	 LEFT JOIN (
	   SELECT COUNT(1) video_num, hm_sign_id FROM t_wechat_receive_message
	   WHERE is_delete = 'N' AND msg_Type = 'shortvideo'
	   GROUP BY hm_Sign_Id
	 ) nu2 ON nu2.hm_sign_id = hs.`id`
	 WHERE hs.is_effect = 1
	 <if test="params.hmName != null">
	 	and hm.hm_name = #{params.hmName,jdbcType=VARCHAR}
	 </if>
	 <if test="params.hmMobile != null">
	 	and hm.hm_mobile = #{params.hmMobile,jdbcType=VARCHAR}
	 </if>
	 <if test="params.activityId != null">
	 	and ai.id = #{params.activityId,jdbcType=VARCHAR}
	 </if>
	 <if test="params.activityName != null">
	 	and ai.activity_name like concat('%',#{params.activityName,jdbcType=VARCHAR},'%')
	 </if>
	 <if test="params.activityType != null">
	 	and ai.activity_type = #{params.activityType,jdbcType=INTEGER}
	 </if>
	 <if test="params.startDate != null">
		and DATE_FORMAT(ai.start_date,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
	 </if>
	 <if test="params.endDate != null">
		and DATE_FORMAT(ai.start_date,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
	 </if>
	 order by ai.`start_date` desc
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_hollow_man_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.HollowManInfo">
    insert into t_hollow_man_info (id, hm_name, hm_mobile, 
      id_type, id_card, addr, 
      place, sex, grade, 
      schoole, id_photo, kim_name, 
      kim_mobile, is_active, active_date, 
      openid, level, score, 
      creater, create_time, updater, 
      update_time, is_delete, reason)
    values (#{id,jdbcType=INTEGER}, #{hmName,jdbcType=VARCHAR}, #{hmMobile,jdbcType=VARCHAR}, 
      #{idType,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{place,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{schoole,jdbcType=VARCHAR}, #{idPhoto,jdbcType=VARCHAR}, #{kimName,jdbcType=VARCHAR}, 
      #{kimMobile,jdbcType=VARCHAR}, #{isActive,jdbcType=INTEGER}, #{activeDate,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xuequ.cmoc.model.HollowManInfo">
    insert into t_hollow_man_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hmName != null">
        hm_name,
      </if>
      <if test="hmMobile != null">
        hm_mobile,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="schoole != null">
        schoole,
      </if>
      <if test="idPhoto != null">
        id_photo,
      </if>
      <if test="kimName != null">
        kim_name,
      </if>
      <if test="kimMobile != null">
        kim_mobile,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="activeDate != null">
        active_date,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hmName != null">
        #{hmName,jdbcType=VARCHAR},
      </if>
      <if test="hmMobile != null">
        #{hmMobile,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="schoole != null">
        #{schoole,jdbcType=VARCHAR},
      </if>
      <if test="idPhoto != null">
        #{idPhoto,jdbcType=VARCHAR},
      </if>
      <if test="kimName != null">
        #{kimName,jdbcType=VARCHAR},
      </if>
      <if test="kimMobile != null">
        #{kimMobile,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="activeDate != null">
        #{activeDate,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.HollowManInfo">
    update t_hollow_man_info
    <set>
      <if test="hmName != null">
        hm_name = #{hmName,jdbcType=VARCHAR},
      </if>
      <if test="hmMobile != null">
        hm_mobile = #{hmMobile,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="schoole != null">
        schoole = #{schoole,jdbcType=VARCHAR},
      </if>
      <if test="idPhoto != null">
        id_photo = #{idPhoto,jdbcType=VARCHAR},
      </if>
      <if test="kimName != null">
        kim_name = #{kimName,jdbcType=VARCHAR},
      </if>
      <if test="kimMobile != null">
        kim_mobile = #{kimMobile,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="activeDate != null">
        active_date = #{activeDate,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.HollowManInfo">
    update t_hollow_man_info
    set hm_name = #{hmName,jdbcType=VARCHAR},
      hm_mobile = #{hmMobile,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      schoole = #{schoole,jdbcType=VARCHAR},
      id_photo = #{idPhoto,jdbcType=VARCHAR},
      kim_name = #{kimName,jdbcType=VARCHAR},
      kim_mobile = #{kimMobile,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=INTEGER},
      active_date = #{activeDate,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>