<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuequ.cmoc.dao.ParentInfoMapper">
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.ParentInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="parent_mobile" jdbcType="VARCHAR" property="parentMobile" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="wechat_num" property="wechatNum" jdbcType="VARCHAR" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="family_no" jdbcType="VARCHAR" property="familyNo" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, relation, parent_mobile, parent_name, openid, wechat_num, city, points, head_img, family_no, 
    is_delete, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_parent_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOpenid" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_parent_info
    WHERE is_delete = 'N' and openid = #{openid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectListByPage" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_parent_info where is_delete = 'N'
    <if test="params.parentName != null">
		and parent_name = #{params.parentName,jdbcType=VARCHAR}
	</if>
	<if test="params.parentMobile != null">
		and parent_mobile = #{params.parentMobile,jdbcType=VARCHAR}
	</if>
    <if test="params.familyNo != null">
		and family_no = #{params.familyNo,jdbcType=VARCHAR}
	</if>
    <if test="params.startDate != null">
		and DATE_FORMAT(create_time,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
	</if>
	<if test="params.endDate != null">
		and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
	</if>
	order by create_time, family_no desc
  </select>
  
  <select id="selectCountByOpenid" resultType="int">
  	SELECT count(1) FROM t_parent_info
    WHERE is_delete = 'N' and openid = #{openid,jdbcType=VARCHAR}
  </select>
  
  <resultMap id="ChildActResultMap" type="com.xuequ.cmoc.view.ChildActRecordView" >
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="activity_num" property="activityNum" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="marine_name" property="marineName" jdbcType="VARCHAR" />
    <result column="marine_id" property="marineId" jdbcType="INTEGER" />
    <result column="child_name" property="childName" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectChildActRecord" resultMap="ChildActResultMap" parameterType="java.lang.String">
  	SELECT ai.`activity_name`, ai.`activity_num`, ai.`start_date`, ai.end_date,
  	ai.id activity_id, am.`marine_name`, am.id marine_id, cs.`child_name` 
  	FROM t_parent_info pa
	INNER JOIN t_child_sign_info cs ON cs.family_no = pa.family_no
	INNER JOIN t_activity_child ac ON ac.child_id = cs.id
	INNER JOIN t_activity_marines am ON am.`id` = ac.`marine_id`
	INNER JOIN t_activity_info ai ON ai.`id` = am.`activity_id`
	WHERE ac.`is_delete` = 'N' AND ai.`is_delete`='N'
	AND pa.`openid` = #{openid,jdbcType=VARCHAR}
	order by start_date desc
  </select>
  
  <resultMap id="CourseBaseResultMap" extends="BaseResultMap" type="com.xuequ.cmoc.view.CourseBuyerView">
  	<result column="res_amount" property="resAmount" jdbcType="DECIMAL" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_type" property="courseType" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="ParentBaseResultMap" extends="BaseResultMap" type="com.xuequ.cmoc.view.ParentInfoView">
  	<result column="buy_count" property="buyCount" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectBuyTotalByPage" resultMap="ParentBaseResultMap">
  	SELECT <include refid="Base_Column_List" />, IFNULL(buy_count,0) buy_count 
  	FROM t_parent_info p
	LEFT JOIN (
	  SELECT COUNT(1) buy_count, parent_id FROM t_child_sign_info WHERE is_effect = 1 GROUP BY parent_id
	) c ON p.`id` = c.parent_id
	WHERE p.`is_delete` = 'N'
	<if test="params.emerName != null">
		and parent_name = #{params.emerName,jdbcType=VARCHAR}
	</if>
	<if test="params.emerMobile != null">
		and parent_mobile = #{params.emerMobile,jdbcType=VARCHAR}
	</if>
    <if test="params.startDate != null">
		and DATE_FORMAT(create_time,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
	</if>
	<if test="params.endDate != null">
		and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
	</if>
	order by create_time desc
  </select>
  
  <select id="selectCourseBuyerByPage" resultMap="CourseBaseResultMap">
  	SELECT tp.`id`, tp.`parent_name`, tp.`wechat_num`, tp.openid, 
  		tp.head_img, po.`res_amount` 
	FROM t_parent_info tp
	INNER JOIN t_product_order po ON po.`cust_id` = tp.`id`
	WHERE po.`product_type`='COURSE' AND po.order_status = '000' 
	AND po.`product_id` = #{params.productId,jdbcType=INTEGER}
	ORDER BY po.create_time DESC
  </select>
  
  <select id="selectBuyRecordByPage" resultMap="CourseBaseResultMap">
  	SELECT bi.`parent_name`, bi.`parent_mobile`, bi.`wechat_num`,bi.`openid`,bi.`head_img`, po.`order_no`, 
       po.`product_type`,po.`res_amount`,po.`total_amount`, po.`create_time`,
       po.product_id,ci.id course_id, ci.course_name,ci.`course_type`
	FROM t_parent_info bi
	INNER JOIN t_product_order po ON bi.`id` = po.`cust_id`
	INNER JOIN t_course_info ci ON po.`product_id` = ci.`id`
	WHERE po.`product_type`='COURSE' 
	<if test="params.orderStatus != null">
		and po.`order_status` = #{params.orderStatus,jdbcType=VARCHAR}
	</if>
	<if test="params.courseName != null">
		and ci.course_name like concat('%',#{params.courseName,jdbcType=VARCHAR},'%')
	</if>
	<if test="params.productId != null">
		and ci.id = #{params.productId,jdbcType=INTEGER}
	</if>
	<if test="params.parentId != null">
		and bi.id = #{params.parentId,jdbcType=INTEGER}
	</if>
	<if test="params.emerName != null">
		and bi.parent_name = #{params.emerName,jdbcType=VARCHAR}
	</if>
	<if test="params.emerMobile != null">
		and bi.parent_mobile = #{params.emerMobile,jdbcType=VARCHAR}
	</if>
	<if test="params.orderNo != null">
		and po.order_no = #{params.orderNo,jdbcType=VARCHAR}
	</if>
	<if test="params.startDate != null">
		and DATE_FORMAT(po.create_time,'%Y-%m-%d') >= #{params.startDate,jdbcType=VARCHAR}
	</if>
	<if test="params.endDate != null">
		and DATE_FORMAT(po.create_time,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.endDate,jdbcType=VARCHAR}
	</if>
	ORDER BY po.`create_time` DESC
  </select>
  
  <select id="selectRemindOrder" resultMap="CourseBaseResultMap">
  	SELECT bi.id, parent_name, parent_mobile, wechat_num, openid, po.`order_no`,po.`product_type` 
  	FROM t_parent_info bi
	INNER JOIN t_product_order po ON bi.`id` = po.cust_id
	WHERE po.`order_status`='001' AND 
	bi.`parent_mobile` = #{mobile,jdbcType=VARCHAR} 
	AND bi.`openid` = #{openid,jdbcType=VARCHAR}
	AND po.`product_id`= #{courseId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByOrderNoOpenid" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" /> 
  	from t_parent_info t
    where openid = #{openid,jdbcType=VARCHAR}
    and exists (
		select 1 from t_product_order where cust_id = t.`id` and 
		order_no = #{orderNo,jdbcType=VARCHAR}
    )
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_parent_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.ParentInfo">
    insert into t_parent_info (id, relation, parent_mobile, 
      parent_name, openid, wechat_num, city, 
      points, head_img, family_no, 
      is_delete, create_time)
    values (#{id,jdbcType=INTEGER}, #{relation,jdbcType=VARCHAR}, #{parentMobile,jdbcType=VARCHAR}, 
      #{parentName,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{wechatNum,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{points,jdbcType=INTEGER}, #{headImg,jdbcType=VARCHAR}, #{familyNo,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xuequ.cmoc.model.ParentInfo">
    insert into t_parent_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="parentMobile != null">
        parent_mobile,
      </if>
      <if test="parentName != null">
        parent_name,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="wechatNum != null">
        wechat_num,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="familyNo != null">
        family_no,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="parentMobile != null">
        #{parentMobile,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null">
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="wechatNum != null">
        #{wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="familyNo != null">
        #{familyNo,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.ParentInfo">
    update t_parent_info
    <set>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="parentMobile != null">
        parent_mobile = #{parentMobile,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null">
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="wechatNum != null">
        wechat_num = #{wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="familyNo != null">
        family_no = #{familyNo,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.ParentInfo">
    update t_parent_info
    set relation = #{relation,jdbcType=VARCHAR},
      parent_mobile = #{parentMobile,jdbcType=VARCHAR},
      parent_name = #{parentName,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      wechat_num = #{wechatNum,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      points = #{points,jdbcType=INTEGER},
      head_img = #{headImg,jdbcType=VARCHAR},
      family_no = #{familyNo,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>