<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuequ.cmoc.dao.ProductOrderMapper">
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.ProductOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="sign_phone" jdbcType="VARCHAR" property="signPhone" />
    <result column="sign_name" jdbcType="VARCHAR" property="signName" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="res_amount" jdbcType="DECIMAL" property="resAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="exchangePoints" jdbcType="INTEGER" property="exchangepoints" />
    <result column="give_points" jdbcType="INTEGER" property="givePoints" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="commision" jdbcType="DECIMAL" property="commision" />
    <result column="commistion_rate" jdbcType="VARCHAR" property="commistionRate" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="trans_no" jdbcType="VARCHAR" property="transNo" />
    <result column="bank_trans_no" jdbcType="VARCHAR" property="bankTransNo" />
    <result column="pay_submit_time" jdbcType="TIMESTAMP" property="paySubmitTime" />
    <result column="pay_callback_time" jdbcType="TIMESTAMP" property="payCallbackTime" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="error_reason" jdbcType="VARCHAR" property="errorReason" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="poster_img" jdbcType="VARCHAR" property="posterImg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, cust_id, sign_name, sign_phone, openid, product_id, activity_id, product_type, res_amount, total_amount, exchangePoints, 
    give_points, channel, commision, commistion_rate, bank_code, bank_no, trans_no, bank_trans_no, 
    pay_submit_time, pay_callback_time, order_status, error_code, error_reason, is_delete, 
    create_time, update_time,poster_img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_order
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByParam" resultMap="BaseResultMap">
    SELECT pt.id, order_no, cust_id, product_id, activity_id, poster_img
    FROM t_product_order pt, t_parent_info po 
    WHERE pt.`cust_id` = po.`id`
	AND po.`openid` = #{openid,jdbcType=VARCHAR} AND pt.`order_no` = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="selectCourseSignOrderByOrderId" resultType="com.xuequ.cmoc.view.CourseSignOrderView">
  	SELECT 
  	po.`id` orderId,
	po.`order_no` orderNo, 
	po.`order_status` orderStatus,
	po.`create_time` orderCreateTime,
	po.`pay_submit_time` paySubmitTime,
	po.`total_amount` totalPrice,
	po.`cust_id` custId,
	po.`sign_name` signName,
	po.`sign_phone` signPhone,
	po.`openid`,
	ci.`id` courseId,
	ci.`course_name` courseName,
	ci.`sign_way` signWay,
	ai.`id` activityId,
	ai.`activity_name` activityName,
	ai.`activity_num` activityNum,
	ai.`start_date` activityStartDate
	FROM t_product_order po
	INNER JOIN t_course_info ci ON po.`product_id` = ci.`id`
	LEFT JOIN t_activity_info ai ON ai.`id` = po.`activity_id`
	where po.`id` = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectCourseSignOrderByPage" resultType="com.xuequ.cmoc.view.CourseSignOrderView">
  	SELECT 
  	po.`id` orderId,
	po.`order_no` orderNo, 
	po.`order_status` orderStatus,
	po.`create_time` orderCreateTime,
	po.`pay_submit_time` paySubmitTime,
	po.`total_amount` totalPrice,
	po.`cust_id` custId,
	po.`sign_name` signName,
	po.`sign_phone` signPhone,
	po.`openid`,
	ci.`id` courseId,
	ci.`course_name` courseName,
	ci.`sign_way` signWay,
	ai.`id` activityId,
	ai.`activity_name` activityName,
	ai.`activity_num` activityNum,
	ai.`start_date` activityStartDate
	FROM t_product_order po
	INNER JOIN t_course_info ci ON po.`product_id` = ci.`id`
	LEFT JOIN t_activity_info ai ON ai.`id` = po.`activity_id`
	<if test="params.orderStatus != null">
		and po.`order_status` = #{params.orderStatus,jdbcType=VARCHAR}
	</if>
	<if test="params.courseId != null">
		and ci.`id` = #{params.courseId,jdbcType=INTEGER}
	</if>
	<if test="params.activityId != null">
		and ai.id = #{params.activityId,jdbcType=INTEGER}
	</if>
	<if test="params.signName != null">
		and po.`sign_name` like concat('%',#{params.signName,jdbcType=VARCHAR},'%')
	</if>
	<if test="params.signPhone != null">
		and po.`sign_phone`= #{params.signPhone,jdbcType=VARCHAR}
	</if>
	<if test="params.activityStartDate != null">
    	and DATE_FORMAT(ai.`start_date`,'%Y-%m-%d') >= #{params.activityStartDate,jdbcType=VARCHAR}
    </if>
    <if test="params.activityEndDate != null">
    	and DATE_FORMAT(ai.`start_date`,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.activityEndDate,jdbcType=VARCHAR}
    </if>
    <if test="params.orderStartTime != null">
    	and DATE_FORMAT(po.`create_time`,'%Y-%m-%d') >= #{params.orderStartTime,jdbcType=VARCHAR}
    </if>
    <if test="params.orderEndTime != null">
    	and DATE_FORMAT(po.`create_time`,'%Y-%m-%d') <![CDATA[ <= ]]> #{params.orderEndTime,jdbcType=VARCHAR}
    </if>
    <if test="params.openid != null">
		and po.`openid` = #{params.openid,jdbcType=VARCHAR}
	</if>
	ORDER BY po.`order_status` desc , po.`create_time` DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_product_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.ProductOrder">
    insert into t_product_order (id, order_no, cust_id,
      sign_name, sign_phone, openid, 
      product_id, activity_id, product_type, res_amount, 
      total_amount, exchangePoints, give_points, 
      channel, commision, commistion_rate, 
      bank_code, bank_no, trans_no, 
      bank_trans_no, pay_submit_time, pay_callback_time, 
      order_status, error_code, error_reason, 
      is_delete, create_time, update_time,poster_img
      )
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{custId,jdbcType=INTEGER},
      #{signName,jdbcType=VARCHAR}, #{signPhone,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{productId,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{productType,jdbcType=VARCHAR}, #{resAmount,jdbcType=DECIMAL}, 
      #{totalAmount,jdbcType=DECIMAL}, #{exchangepoints,jdbcType=INTEGER}, #{givePoints,jdbcType=INTEGER}, 
      #{channel,jdbcType=VARCHAR}, #{commision,jdbcType=DECIMAL}, #{commistionRate,jdbcType=VARCHAR}, 
      #{bankCode,jdbcType=VARCHAR}, #{bankNo,jdbcType=VARCHAR}, #{transNo,jdbcType=VARCHAR}, 
      #{bankTransNo,jdbcType=VARCHAR}, #{paySubmitTime,jdbcType=TIMESTAMP}, #{payCallbackTime,jdbcType=TIMESTAMP}, 
      #{orderStatus,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR}, #{errorReason,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{posterImg,jdbcType=VARCHAR}, 
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xuequ.cmoc.model.ProductOrder">
    insert into t_product_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="signName != null">
        sign_name,
      </if>
      <if test="signPhone != null">
        sign_phone,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="resAmount != null">
        res_amount,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="exchangepoints != null">
        exchangePoints,
      </if>
      <if test="givePoints != null">
        give_points,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="commision != null">
        commision,
      </if>
      <if test="commistionRate != null">
        commistion_rate,
      </if>
      <if test="bankCode != null">
        bank_code,
      </if>
      <if test="bankNo != null">
        bank_no,
      </if>
      <if test="transNo != null">
        trans_no,
      </if>
      <if test="bankTransNo != null">
        bank_trans_no,
      </if>
      <if test="paySubmitTime != null">
        pay_submit_time,
      </if>
      <if test="payCallbackTime != null">
        pay_callback_time,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="errorReason != null">
        error_reason,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="posterImg != null">
        poster_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="signName != null">
        #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signPhone != null">
        #{signPhone,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="resAmount != null">
        #{resAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangepoints != null">
        #{exchangepoints,jdbcType=INTEGER},
      </if>
      <if test="givePoints != null">
        #{givePoints,jdbcType=INTEGER},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="commision != null">
        #{commision,jdbcType=DECIMAL},
      </if>
      <if test="commistionRate != null">
        #{commistionRate,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null">
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null">
        #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="bankTransNo != null">
        #{bankTransNo,jdbcType=VARCHAR},
      </if>
      <if test="paySubmitTime != null">
        #{paySubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payCallbackTime != null">
        #{payCallbackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorReason != null">
        #{errorReason,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="posterImg != null">
        #{posterImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.ProductOrder">
    update t_product_order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="signName != null">
        sign_name = #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signPhone != null">
        sign_phone = #{signPhone,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="resAmount != null">
        res_amount = #{resAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangepoints != null">
        exchangePoints = #{exchangepoints,jdbcType=INTEGER},
      </if>
      <if test="givePoints != null">
        give_points = #{givePoints,jdbcType=INTEGER},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="commision != null">
        commision = #{commision,jdbcType=DECIMAL},
      </if>
      <if test="commistionRate != null">
        commistion_rate = #{commistionRate,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null">
        bank_no = #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null">
        trans_no = #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="bankTransNo != null">
        bank_trans_no = #{bankTransNo,jdbcType=VARCHAR},
      </if>
      <if test="paySubmitTime != null">
        pay_submit_time = #{paySubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payCallbackTime != null">
        pay_callback_time = #{payCallbackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorReason != null">
        error_reason = #{errorReason,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="posterImg != null">
        poster_img = #{posterImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.ProductOrder">
    update t_product_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=INTEGER},
      sign_name = #{signName,jdbcType=VARCHAR},
      sign_phone = #{signPhone,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=VARCHAR},
      res_amount = #{resAmount,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      exchangePoints = #{exchangepoints,jdbcType=INTEGER},
      give_points = #{givePoints,jdbcType=INTEGER},
      channel = #{channel,jdbcType=VARCHAR},
      commision = #{commision,jdbcType=DECIMAL},
      commistion_rate = #{commistionRate,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      trans_no = #{transNo,jdbcType=VARCHAR},
      bank_trans_no = #{bankTransNo,jdbcType=VARCHAR},
      pay_submit_time = #{paySubmitTime,jdbcType=TIMESTAMP},
      pay_callback_time = #{payCallbackTime,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      error_reason = #{errorReason,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      poster_img = #{posterImg,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>