<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuequ.cmoc.dao.SysDictDataMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.SysDictData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dict_type_id" property="dictTypeId" jdbcType="INTEGER" />
    <result column="dict_data_key" property="dictDataKey" jdbcType="INTEGER" />
    <result column="dict_data_value" property="dictDataValue" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dict_type_id, dict_data_key, dict_data_value, is_active, create_user_id, creater, 
    create_time, update_user_id, updater, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_dict_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectListByDictTypeId" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from t_sys_dict_data where dict_type_id = #{dictTypeId,jdbcType=INTEGER}
  </select> 
  <select id="selectActiveAll" resultMap="BaseResultMap">
  	select dict_type_id, dict_data_key, dict_data_value
  	from t_sys_dict_data where is_active = 1
  </select>
  <select id="selectCountByDictTypeId" resultType="int">
  	select count(1) from t_sys_dict_data where dict_type_id = #{dictTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_dict_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.SysDictData" >
    insert into t_sys_dict_data (id, dict_type_id, dict_data_key, 
      dict_data_value, is_active, create_user_id, 
      creater, create_time, update_user_id, 
      updater, update_time)
    values (#{id,jdbcType=INTEGER}, #{dictTypeId,jdbcType=INTEGER}, #{dictDataKey,jdbcType=INTEGER}, 
      #{dictDataValue,jdbcType=VARCHAR}, #{isActive,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xuequ.cmoc.model.SysDictData" >
    insert into t_sys_dict_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dictTypeId != null" >
        dict_type_id,
      </if>
      <if test="dictDataKey != null" >
        dict_data_key,
      </if>
      <if test="dictDataValue != null" >
        dict_data_value,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dictTypeId != null" >
        #{dictTypeId,jdbcType=INTEGER},
      </if>
      <if test="dictDataKey != null" >
        #{dictDataKey,jdbcType=INTEGER},
      </if>
      <if test="dictDataValue != null" >
        #{dictDataValue,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.SysDictData" >
    update t_sys_dict_data
    <set >
      <if test="dictTypeId != null" >
        dict_type_id = #{dictTypeId,jdbcType=INTEGER},
      </if>
      <if test="dictDataKey != null" >
        dict_data_key = #{dictDataKey,jdbcType=INTEGER},
      </if>
      <if test="dictDataValue != null" >
        dict_data_value = #{dictDataValue,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.SysDictData" >
    update t_sys_dict_data
    set dict_type_id = #{dictTypeId,jdbcType=INTEGER},
      dict_data_key = #{dictDataKey,jdbcType=INTEGER},
      dict_data_value = #{dictDataValue,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>