<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuequ.cmoc.dao.SysDictTypeMapper">
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.SysDictType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="is_activie" jdbcType="INTEGER" property="isActivie" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dict_type_name, dict_code, is_activie, create_user_id, creater, create_time, 
    update_user_id, updater, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_dict_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectDictTypeAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_sys_dict_type
  </select>
  <select id="selectActiveAll" resultMap="BaseResultMap">
  	select id, dict_type_name, dict_code
    from t_sys_dict_type where is_activie = 1
  </select>
  <select id="selectCountByDictCode" resultType="int">
  	select count(1) from t_sys_dict_type where dict_code = #{dictCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_dict_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.SysDictType">
    insert into t_sys_dict_type (id, dict_type_name, dict_code, 
      is_activie, create_user_id, creater, 
      create_time, update_user_id, updater, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{dictTypeName,jdbcType=VARCHAR}, #{dictCode,jdbcType=INTEGER}, 
      #{isActivie,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xuequ.cmoc.model.SysDictType">
    insert into t_sys_dict_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dictTypeName != null">
        dict_type_name,
      </if>
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="isActivie != null">
        is_activie,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dictTypeName != null">
        #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=INTEGER},
      </if>
      <if test="isActivie != null">
        #{isActivie,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.SysDictType">
    update t_sys_dict_type
    <set>
      <if test="dictTypeName != null">
        dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="isActivie != null">
        is_activie = #{isActivie,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.SysDictType">
    update t_sys_dict_type
    set dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      dict_code = #{dictCode,jdbcType=VARCHAR},
      is_activie = #{isActivie,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>