<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuequ.cmoc.dao.WechatReceiveMessageMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.WechatReceiveMessage" >
    <id column="msg_Id" property="msgId" jdbcType="CHAR" />
    <result column="hm_Sign_Id" property="hmSignId" jdbcType="INTEGER" />
    <result column="to_User_Name" property="toUserName" jdbcType="VARCHAR" />
    <result column="from_User_Name" property="fromUserName" jdbcType="VARCHAR" />
    <result column="msg_Type" property="msgType" jdbcType="VARCHAR" />
    <result column="media_Id" property="mediaId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="format" property="format" jdbcType="VARCHAR" />
    <result column="recognition" property="recognition" jdbcType="VARCHAR" />
    <result column="pic_Url" property="picUrl" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="music_Url" property="musicUrl" jdbcType="VARCHAR" />
    <result column="hq_Music_Url" property="hqMusicUrl" jdbcType="VARCHAR" />
    <result column="thumb_Media_Id" property="thumbMediaId" jdbcType="VARCHAR" />
    <result column="location_X" property="locationX" jdbcType="REAL" />
    <result column="location_Y" property="locationY" jdbcType="REAL" />
    <result column="scale" property="scale" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="sys_Url" property="sysUrl" jdbcType="VARCHAR" />
    <result column="is_Delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="create_Time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sys_Create_Time" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="update_Time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    msg_Id, hm_Sign_Id, to_User_Name, from_User_Name, msg_Type, media_Id, content, title, 
    description, format, recognition, pic_Url, url, music_Url, hq_Music_Url, thumb_Media_Id, 
    location_X, location_Y, scale, label, sys_Url, is_Delete, create_Time, sys_Create_Time, 
    updater, update_Time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat_receive_message
    where msg_Id = #{msgId,jdbcType=CHAR}
  </select>
  
  <select id="selectListByPage" resultMap="BaseResultMap">
  	SELECT 
    wm.`msg_Type`, wm.`sys_Url`, wm.`pic_Url`, wm.`create_Time`
    FROM t_wechat_receive_message wm
    INNER JOIN t_activity_hm_sign hs ON wm.`hm_Sign_Id` = hs.`id`
    WHERE wm.`is_Delete` = 'N' AND hs.`marine_id` = #{params.marineId,jdbcType=INTEGER}
    AND wm.`msg_type` = #{params.msgType,jdbcType=VARCHAR}
    ORDER BY wm.create_time ${params.order}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_wechat_receive_message
    where msg_Id = #{msgId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.WechatReceiveMessage" >
    insert into t_wechat_receive_message (msg_Id, hm_Sign_Id, to_User_Name, 
      from_User_Name, msg_Type, media_Id, 
      content, title, description, 
      format, recognition, pic_Url, 
      url, music_Url, hq_Music_Url, 
      thumb_Media_Id, location_X, location_Y, 
      scale, label, sys_Url, 
      is_Delete, create_Time, sys_Create_Time, 
      updater, update_Time)
    values (#{msgId,jdbcType=CHAR}, #{hmSignId,jdbcType=INTEGER}, #{toUserName,jdbcType=VARCHAR}, 
      #{fromUserName,jdbcType=VARCHAR}, #{msgType,jdbcType=VARCHAR}, #{mediaId,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{format,jdbcType=VARCHAR}, #{recognition,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{musicUrl,jdbcType=VARCHAR}, #{hqMusicUrl,jdbcType=VARCHAR}, 
      #{thumbMediaId,jdbcType=VARCHAR}, #{locationX,jdbcType=REAL}, #{locationY,jdbcType=REAL}, 
      #{scale,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{sysUrl,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{sysCreateTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xuequ.cmoc.model.WechatReceiveMessage" >
    replace into t_wechat_receive_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        msg_Id,
      </if>
      <if test="hmSignId != null" >
        hm_Sign_Id,
      </if>
      <if test="toUserName != null" >
        to_User_Name,
      </if>
      <if test="fromUserName != null" >
        from_User_Name,
      </if>
      <if test="msgType != null" >
        msg_Type,
      </if>
      <if test="mediaId != null" >
        media_Id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="format != null" >
        format,
      </if>
      <if test="recognition != null" >
        recognition,
      </if>
      <if test="picUrl != null" >
        pic_Url,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="musicUrl != null" >
        music_Url,
      </if>
      <if test="hqMusicUrl != null" >
        hq_Music_Url,
      </if>
      <if test="thumbMediaId != null" >
        thumb_Media_Id,
      </if>
      <if test="locationX != null" >
        location_X,
      </if>
      <if test="locationY != null" >
        location_Y,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="sysUrl != null" >
        sys_Url,
      </if>
      <if test="isDelete != null" >
        is_Delete,
      </if>
      <if test="createTime != null" >
        create_Time,
      </if>
      <if test="sysCreateTime != null" >
        sys_Create_Time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=CHAR},
      </if>
      <if test="hmSignId != null" >
        #{hmSignId,jdbcType=INTEGER},
      </if>
      <if test="toUserName != null" >
        #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null" >
        #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="recognition != null" >
        #{recognition,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="musicUrl != null" >
        #{musicUrl,jdbcType=VARCHAR},
      </if>
      <if test="hqMusicUrl != null" >
        #{hqMusicUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null" >
        #{thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null" >
        #{locationX,jdbcType=REAL},
      </if>
      <if test="locationY != null" >
        #{locationY,jdbcType=REAL},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="sysUrl != null" >
        #{sysUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.WechatReceiveMessage" >
    update t_wechat_receive_message
    <set >
      <if test="hmSignId != null" >
        hm_Sign_Id = #{hmSignId,jdbcType=INTEGER},
      </if>
      <if test="toUserName != null" >
        to_User_Name = #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null" >
        from_User_Name = #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null" >
        msg_Type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        media_Id = #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        format = #{format,jdbcType=VARCHAR},
      </if>
      <if test="recognition != null" >
        recognition = #{recognition,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_Url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="musicUrl != null" >
        music_Url = #{musicUrl,jdbcType=VARCHAR},
      </if>
      <if test="hqMusicUrl != null" >
        hq_Music_Url = #{hqMusicUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null" >
        thumb_Media_Id = #{thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null" >
        location_X = #{locationX,jdbcType=REAL},
      </if>
      <if test="locationY != null" >
        location_Y = #{locationY,jdbcType=REAL},
      </if>
      <if test="scale != null" >
        scale = #{scale,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="sysUrl != null" >
        sys_Url = #{sysUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_Delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateTime != null" >
        sys_Create_Time = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_Time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where msg_Id = #{msgId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.WechatReceiveMessage" >
    update t_wechat_receive_message
    set hm_Sign_Id = #{hmSignId,jdbcType=INTEGER},
      to_User_Name = #{toUserName,jdbcType=VARCHAR},
      from_User_Name = #{fromUserName,jdbcType=VARCHAR},
      msg_Type = #{msgType,jdbcType=VARCHAR},
      media_Id = #{mediaId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      format = #{format,jdbcType=VARCHAR},
      recognition = #{recognition,jdbcType=VARCHAR},
      pic_Url = #{picUrl,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      music_Url = #{musicUrl,jdbcType=VARCHAR},
      hq_Music_Url = #{hqMusicUrl,jdbcType=VARCHAR},
      thumb_Media_Id = #{thumbMediaId,jdbcType=VARCHAR},
      location_X = #{locationX,jdbcType=REAL},
      location_Y = #{locationY,jdbcType=REAL},
      scale = #{scale,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      sys_Url = #{sysUrl,jdbcType=VARCHAR},
      is_Delete = #{isDelete,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      sys_Create_Time = #{sysCreateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_Time = #{updateTime,jdbcType=TIMESTAMP}
    where msg_Id = #{msgId,jdbcType=CHAR}
  </update>
</mapper>