<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuequ.cmoc.dao.WechatKeywordMapper" >
  <resultMap id="BaseResultMap" type="com.xuequ.cmoc.model.WechatKeyword" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="isDelete" property="isdelete" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, keyword, isDelete, creater, createTime, updater, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat_keyword
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByKeyword" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat_keyword
    where isDelete = 'N' and keyword = #{keyword,jdbcType=VARCHAR}
  </select>
  
  <select id="selectCountByKeyword" resultType="int" parameterType="java.lang.String" >
    select count(1) from t_wechat_keyword
    where isDelete = 'N' and keyword = #{keyword,jdbcType=VARCHAR}
  </select>
  
  <select id="selectListByParams" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wechat_keyword
    where isDelete = 'N'
    <if test="keyword != null">
    	and keyword = #{keyword,jdbcType=VARCHAR}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wechat_keyword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuequ.cmoc.model.WechatKeyword" >
    insert into t_wechat_keyword (id, keyword, isDelete, 
      creater, createTime, updater, 
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{keyword,jdbcType=VARCHAR}, #{isdelete,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xuequ.cmoc.model.WechatKeyword" >
    insert into t_wechat_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuequ.cmoc.model.WechatKeyword" >
    update t_wechat_keyword
    <set >
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuequ.cmoc.model.WechatKeyword" >
    update t_wechat_keyword
    set keyword = #{keyword,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>