@charset "utf-8";
/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
html,body{height:100%;}
body {line-height: 1;margin:0;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
* {tap-highlight-color: rgba(0, 0, 0, 0);-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-ms-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
input,textarea {outline: 0;resize: none;}
a{text-decoration: none;}

/*功能*/
.none{display:none;}
.show{display:block;}
.pr{position:relative;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.ellips{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.fl{float: left;}
.fr{float: right;}
.tl{text-align:left;}
.tr{text-align:right;}

/*边距*/
.mt45{margin-top:0.45rem;}
.mt24{margin-top:0.24rem;}
.mt60{margin-top:0.6rem;}
.mt40{margin-top:0.4rem;}
.mt80{margin-top:0.8rem;}
.mt30{margin-top:0.3rem;}
.mt20{margin-top:0.2rem;}
.mtNone{margin-top:0;}
.ml20{margin-left:0.2rem;}
.pt5{padding-top:0.05rem;}
.pl20{padding-left:0.2rem;}
.pr20{padding-right:0.2rem;}
.pb60{padding-bottom:0.6rem;}

/*滚动条*/
::-webkit-scrollbar-thumb {background: #bbbbbb;background: rgba(0, 0, 0, 0.15);border-radius: 5px;}

::-webkit-scrollbar-track {background: #dddddd;background: rgba(0, 0, 0, 0.05);}
.slider-container {margin-bottom: 25px;}

/*表格*/
table{border:1px #ccc solid;border-collapse: collapse;text-align:center;vertical-align: middle;}
td,th{vertical-align: middle;}














