@charset "utf-8";
html{background: #fff;font-size:100px;}
body{min-width:320px;max-width:750px;margin:0 auto;font-family: "microsoft yahei",'宋体',Verdana,Arial,Helvetica,sans-serif;font-size:0.2rem;font-weight: normal;color:#666;}
a{color:#666;}
hr{width:100%;height: 1px;line-height: 1px;background:#d7d7d7;border:none;margin:0;overflow: hidden;}

/*头部*/
header{
	height: 0.87rem;
	background: #309dd1;
}
.user-head{
	float: left;
	width: 0.54rem;
	height: 0.54rem;
	margin-top: 0.15rem;
	margin-left: 0.3rem;
}
.user-head img{
	width: 100%;
	height: 100%;
	border:2px #96cde8 solid;
	border-radius: 100%;
}
.nav{
	float: left;
	margin-left: 0.36rem;
	height: 100%;
}
.nav a{
	float: left;
	margin-right: 0.2rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	height: 100%;
	line-height: 0.87rem;
	color: #fff;
	font-size: 0.26rem;
	position: relative;
}
.nav a.active:after{
	content: '';
	display: block;
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 0.04rem;
	overflow: hidden;
	background: #fff;
}

/*首页banner*/
#banner img{
	width: 100%;
	height: 3.89rem;
}

/*文字列表*/
.listHead{
	margin-left: 0.24rem;
	height: 0.89rem;
	line-height: 0.89rem;
	border-bottom: 1px #d7d7d7 solid;
}
.listHead h4{
	float: left;
	height: 100%;
	position: relative;
	font-size: 0.3rem;
}
.listHead h4:after{
	content: '';
	display: block;
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 0.04rem;
	overflow: hidden;
	background: #309ed1;
}
.listMore{
	float: right;
	font-size: 0.24rem;
	margin-right: 0.24rem;
	padding-right: 0.45rem;
	background:url(../images/arrow.png) no-repeat right center;
	background-size: 0.13rem 0.24rem;
}
.newsList-content{
	margin-left: 0.24rem;
}
.newsList-content li{
	height: 0.96rem;
	padding-top: 0.24rem;
	margin-bottom: 0.24rem;
	overflow: hidden;
	box-sizing: content-box;
}
.newsList-content img{
	float: left;
	width: 0.96rem;
	height: 0.96rem;
}
.newsList-content dl{
	float: left;
	margin-left: 0.3rem;
	width: 5.7rem;
}
.newsList-content dt{
	width: 100%;
	height: 0.38rem;
	font-size: 0.27rem;
	color:#232323;
	line-height: 0.38rem;
	margin-bottom: 0.22rem;
	overflow: hidden;
}
.newsList-content dd{
	font-size: 0.24rem;
	line-height: 1.5em;
}

/*视频列表*/
.videoList-content{
	margin-left: 0.24rem;
	margin-top: 0.24rem;
}
.videoList-content li{
	float: left;
	margin-right: 0.22rem;
	margin-bottom: 0.5rem;
	width: 3.4rem;
	height: 4.35rem;
	overflow: hidden;
}
.videoList-pic{
	position: relative;
}
.videoList-pic img{
	width: 3.4rem;
	height: 3.4rem;
}
.videoList-pic a{
	display: block;
}
.videoList-content .videoList-stop,.videoList-content .videoList-stop2{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0.61rem;
	height: 0.61rem;
	margin-top: -0.3rem;
	margin-left: -0.3rem;
	background:url(../images/stop-ico.png) no-repeat 0 0;
	background-size: contain;
}
.videoList-content .videoList-stop2{
	background-image: url(../images/stop-ico2.png);
}
.videoList-content .videoList-tag{
	position: absolute;
	top:0.15rem;
	right:0.16rem;
	width: 1.06rem;
	height: 0.36rem;
	line-height: 0.36rem;
	background:#989199;
	color:#cbc1ca;
	font-size: 0.2rem;
	text-align: center;
	border-radius: 0.1rem;
}
.videoList-content .videoList-tj{
	position: absolute;
	top:0.16rem;
	left:0.16rem;
	width: 0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	border-radius: 100%;
	background:#2f9dd0;
	color:#fff;
	font-size: 0.18rem;
	text-align: center;
}
.videoList-content .videoList-title{
	margin-top: 0.16rem;
	font-size: 0.26rem;
	color:#232323;
	line-height: 1.5em;
}
.videoList-content .videoList-intro{
	display: none;
}

.videoList-content2{
	margin-top: 0.22rem;
}
.videoList-content2 li{
	float: left;
	padding-left: 0.24rem;
	margin-bottom: 0.24rem;
}
.videoList-content2 .videoList-pic{
	float: left;
	width: 1.48rem;
	height: 1.48rem;
}
.videoList-content2 img{
	width: 1.48rem;
	height: 1.48rem;
}
.videoList-content2 .videoList-tag{
	position: absolute;
	top:0.04rem;
	right:0.04rem;
	width:0.52rem;
	height: 0.18rem;
	line-height: 0.18rem;
	background:#998d99;
	text-align: center;
	color:#cfcdd0;
	font-size: 0.13rem;
	border-radius: 0.05rem;
}
.videoList-content2 .videoList-stop,.videoList-content2 .videoList-stop2{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0.28rem;
	height: 0.28rem;
	margin-top: -0.14rem;
	margin-left: -0.14rem;
	background:url(../images/stop-ico.png) no-repeat 0 0;
	background-size: contain;
}
.videoList-content2 .videoList-stop2{
	background-image: url(../images/stop-ico2.png);
}
.videoList-content2 .videoList-tj{
	position: absolute;
	top:0.07rem;
	left:0.07rem;
	width: 0.32rem;
	height: 0.32rem;
	line-height: 0.32rem;
	border-radius: 100%;
	background:#2f9dd0;
	color:#fff;
	font-size: 0.14rem;
	text-align: center;
}
.videoList-content2 .videoList-title,.videoList-content2 .videoList-intro{
	float: right;
	width: 5.48rem;
	padding-right: 0.24rem;
}
.videoList-content2 .videoList-title{
	font-size: 0.26rem;
	color:#232323;
	line-height: 1.5em;
}
.videoList-content2 .videoList-intro{
	margin-top: 0.2rem;
	font-size: 0.22rem;
	line-height: 1.5em;
	padding-bottom: 0.46rem;
	border-bottom: 1px #d7d7d7 solid;
}

/*公告*/
.adWrap{
	padding-left: 0.82rem;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.24rem;
	background:#f8f8f8 url(../images/sound-ico.png) no-repeat 0.24rem center;
	background-size:0.28rem 0.22rem;
	border-bottom:1px #d7d7d7 solid;
}
.adLink{
	display: inline-block;
	margin-left: 0.3rem;
	width: 1.14rem;
	height: 0.32rem;
	line-height: 0.3rem;
	border:1px #319cd2 solid;
	color:#319cd2;
	font-size: 0.2rem;
	text-align: center;
	border-radius: 0.1rem;
}

/*列表页面的选择部分*/
.listSelect{
	width: 100%;
	background:#fff;
	padding-bottom:0.24rem;
	/*overflow: hidden;*/
	position: relative;
	z-index: 2;
}
.listSelect-text{
	float: left;
	margin-left: 0.24rem;
	margin-top: 0.18rem;
	display: inline-block;
	width: 1.12rem;
	height: 0.52rem;
	line-height: 0.52rem;
	background:#2f9dd0;
	text-align: center;
	color:#fff;
	font-size: 0.28rem;
	border-radius: 0.1rem;
}
.listSelect-text2{
	float: left;
	display: inline-block;
	font-size: 0.3rem;
	color:#232323;
	margin-left: 0.24rem;
	margin-top: 0.25rem;
}
.listSelect-btn{
	float: right;
	margin-right: 0.24rem;
	margin-top: 0.27rem;
	display: inline-block;
	width: 0.34rem;
	height: 0.34rem;
	background:url(../images/listDown-ico.png) no-repeat 0 0;
	background-size: contain;
}
.listSelect-btn2{
	background:url(../images/listDown-ico2.png) no-repeat 0 0;
	background-size: contain;
}
.listSelect-line2{
	width: 100%;
	overflow: hidden;
	background: #fff;
	padding-bottom: 0.3rem;
	position: absolute;
}
.listSelect-line2-inner{
	width: 110%;
	padding-left: 0.54rem;
}
.listSelect-line2 span{
	display: inline-block;
	float: left;
	margin-right: 0.8rem;
	margin-top: 0.6rem;
	width: 1.6rem;
	height: 0.52rem;
	line-height: 0.5rem;
	color:#329dd1;
	font-size: 0.28rem;
	text-align: center;
	border:1px #2f9dd2 solid;
	border-radius: 0.1rem;
}

/*课程详情*/
.detail-top{
	height: 0.87rem;
    background: #309dd1;
    position: relative;
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.87rem;
    overflow: hidden;
    color:#fff;
}
.prev{
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 0.87rem;
	height: 0.87rem;
	background:url(../images/back.png) no-repeat center center;
	background-size: 0.21rem 0.39rem;
}
.detail-video{
	/*width: 100%;
	height: 4.5rem;*/
}
.detail-title{
	margin-top: 0.13rem;
	margin-bottom: 0.3rem;
	margin-left: 0.24rem;
	margin-right: 0.24rem;
	font-size: 0.3rem;
	color:#232323;
	line-height: 1.5;
}
.detail-total{
	padding-bottom: 0.3rem;
}
.detail-price{
	float: left;
	margin-left: 0.24rem;
	color:#ff0103;
}
.detail-price em{
	font-size: 0.28rem;
}
.detail-people{
	float: right;
	margin-right: 0.24rem;
	padding-left: 0.66rem;
	font-size: 0.24rem;
	background:url(../images/people-ico.png) no-repeat 0 center;
	background-size: 0.35rem 0.26rem;
}
.detail-tag{
	padding-left: 0.24rem;
	height: 0.85rem;
	line-height: 0.85rem;
	font-size: 0.26rem;
	color:#232323;
	border-top:1px #d7d7d7 solid;
	border-bottom:1px #d7d7d7 solid;
}
.detail-tag span{
	float: left;
	margin-right: 0.6rem;
	display: block;
	padding-left: 0.53rem;
	background:url(../images/select-ico.png) no-repeat 0 center;
	background-size: 0.24rem 0.24rem;
}
.jiange{
	height: 0.20rem;
	background:#f8f8f8;
}
.detail-sh{
	border-top:1px #d7d7d7 solid;
	border-bottom:1px #d7d7d7 solid;
}
.detail-sh-title{
	height: 0.87rem;
	line-height: 0.87rem;
	margin-left: 0.24rem;
	font-size: 0.28rem;
	color:#232323;
	border-bottom: 1px #D7D7D7 solid;
}
.detail-sh-intro{
	margin-left: 0.24rem;
	margin-right: 0.24rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	font-size: 0.22rem;
	line-height: 1.5;
}
.detail-js{
	padding-bottom: 0.2rem;
	line-height: 1.5;
	border-top:1px #d7d7d7 solid;
	border-bottom:1px #d7d7d7 solid;
}
.detail-js-title{
	height: 0.87rem;
	line-height: 0.87rem;
	font-size: 0.28rem;
	color:#232323;
	margin-left: 0.24rem;
	border-bottom:1px #d7d7d7 solid;
}
.detail-js-line1{
	margin-top: 0.24rem;
	margin-bottom: 0.24rem;
	padding-left: 0.24rem;
}
.detail-js-line2{
	padding-left: 0.24rem;
	padding-right: 0.24rem;
}
.detail-js-pic img{
	width: 1.52rem;
	height: 2.26rem;
}
.detail-js-intro{
	width: 4.9rem;
	margin-right: 0.24rem;
}
.buy,.buySure{
	height: 0.98rem;
	line-height: 0.98rem;
	text-align: center;
	background: #2f9dd0;
	color:#fff;
	font-size: 0.34rem;
}
.buySure{
	margin-top: 0.2rem;
}
.buy-dialog{
	line-height: 1.5;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	width:7.5rem;
	bottom:0;
}
.buy-dialog-inner{
	position: absolute;
	bottom:0;
	width:100%;
	background:#fff;
}
.buy-dialog-line1{
	font-size: 0.34rem;
	height: 0.9rem;
	line-height: 0.9rem;
	color:#232323;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	position: relative;
	border-bottom: 1px #d7d7d7 solid;
}
.buy-dialog-close{
	position: absolute;
	height:100%;
	right:0.24rem;
	top:0;
	width:0.28rem;
	background:url(../images/close-ico.png) no-repeat 0 center;
	background-size: contain;
}
.buy-dialog-line2{
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	font-size: 0.26rem;
	border-bottom: 1px #d7d7d7 solid;
}
.buy-dialog-line2 p{
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
.buy-dialog-price{
	font-size: 0.22rem;
	color:#ff0100;
}
.buy-dialog-price span{
	font-size: 0.28rem;
}
.buy-dialog-line3{
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	font-size: 0.22rem;
}
.buy-dialog-line3 p{
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}
.buy-dialog-line3 p:first-child{
	font-size: 0.28rem;
	color:#232323;
}
.buy-dialog-line3 p:nth-child(2){
	color:#319cd2;
}
