.inputRadio{
	position: relative;
	top:-2px;
	top:0 \9;
}
.jsTabWrap{
	border-bottom: 1px #ccc solid;
}
.jsTabWrap li{
	float: left;
	width: 100px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
	background:rgb(231,231,231);
	cursor: pointer;
}
.jsTabWrap li span{
	display: block;
	border-top:2px rgb(231,231,231) solid;
}
.jsTabWrap li.jsTabOn{
	background: #fff;
	border-bottom: 1px #fff solid;
}
.jsTabWrap li.jsTabOn span{
	border-top:2px rgb(74, 140, 201) solid;
}

.jsContainWrap{
	
}
.jsContain{
	
}
